.root {
  @apply mr-6 flex-1;

  &:last-child {
    @apply mr-0;
  }
}

.category {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(51, 51, 51);
  letter-spacing: -0.00313rem;
  font-size: 18px;
  @apply mr-8;
}

.header {
  @apply flex items-center mt-4;
}

.title {
  color: rgb(51, 51, 51);
  font-weight: 300;
  letter-spacing: 1px;
  @apply inline uppercase text-xl;
}

.description {
  @apply mr-12;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(51, 51, 51);
  letter-spacing: -0.00313rem;
  font-size: 18px;
  font-weight: 200;
  width: 100%;
}

.img {
  height: 486px;
  width: 664px;
  background: gray;
  overflow: hidden;
}

.figure {
  margin: 0;
}
