.root {
  @apply mb-6;

  @media (min-width: 768px) {
    @apply mr-6 flex-1 mb-2;
    max-width: 50%;

    &:last-child {
      @apply mr-0;
    }
  }
}

.category {
  @apply mr-8;

  color: rgb(51, 51, 51);
  font: lighter normal 0.9375rem/1.125rem JHA Times Now;
  letter-spacing: -0.00313rem;
}

.header {
  @apply flex items-center mt-4;
}

.title {
  @apply inline uppercase;
  color: rgb(51, 51, 51);
  margin: 0;
  font: lighter normal 1.125rem/1.5rem Favorit SSENSE Inter1;
  letter-spacing: -0.01562rem;
}

.description {
  @apply mt-1 mr-12;
  color: rgb(51, 51, 51);
  font: lighter normal 1.25rem/1.625rem JHA Times Now;
  letter-spacing: -0.00313rem;
  width: 100%;
}

.img {
  overflow: hidden;
}

.figure {
  margin: 0;
}
