.root {
  font-family: Favorit SSENSE Inter;
  @apply flex justify-between items-center relative;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  height: 55px;
  line-height: 55px;
  padding-left: 55px;
  padding-right: 55px;
  z-index: 10;
}

.logo {
  @apply text-2xl absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  letter-spacing: 1px;
}

.nav {
  @apply flex justify-between items-center;
}

.link {
  @apply mr-6 uppercase text-xs;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  font-size: 11px;
  &:last-child {
    margin-right: 0;
  }
}
