.root {
  @apply flex justify-between items-center relative;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  height: 55px;
  line-height: 55px;
  padding-left: 55px;
  padding-right: 55px;
  z-index: 10;
}

.logo {
  @apply text-3xl absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  @apply flex justify-between items-center;
}

.link {
  @apply mr-6 uppercase text-xs;

  &:last-child {
    margin-right: 0;
  }
}
