.root {
  display: none;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 0.625rem 0;
  max-width: calc((100vw - 20px) / 4);
  min-height: 149px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: 1024px) {
    @apply flex mr-6 flex-col justify-between;
  }
}

.title {
  font: lighter normal 2.375rem/2.75rem Favorit SSENSE Inter1;
  text-transform: uppercase;
  letter-spacing: -0.07812rem;
  color: rgb(51, 51, 51);
}

.link {
  @apply uppercase;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
