.root {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 0.625rem 0;
  @apply mr-6 flex;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }
}

.side {
  @apply mr-2;
  min-width: 95px;
}

.img {
  background: gray;
}

.title {
  @apply uppercase text-center;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgb(51, 51, 51);
}

.header {
  @apply flex flex-col justify-between;
}

.category {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(51, 51, 51);
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.5px;
}
