.root {
  @apply flex;
  box-sizing: border-box;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 0.625rem 0;
  margin: 0 0.625rem;
  min-height: 106px;
  flex: 1;

  &:nth-child(3),
  &:nth-child(4) {
    display: none;
  }

  @media (min-width: 1040px) {
    @apply mr-6;
    width: calc((100vw - 20px) / 4);
    max-width: calc((100vw - 20px) / 4);
    min-height: 149px;

    &:nth-child(3),
    &:nth-child(4) {
      display: flex;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.side {
  @apply mr-2;
  min-width: 33.3333%;
}

.img {
  background: gray;
}

.title {
  color: rgb(51, 51, 51);
  font: lighter normal 0.89062rem/1.125rem Favorit SSENSE Inter1;
  letter-spacing: -0.00313rem;
  text-align: center;
  text-transform: uppercase;
  margin-left: 0.625rem;
}

.header {
  @apply flex flex-col justify-between;
}

.category {
  color: rgb(51, 51, 51);
  font: lighter normal 0.9375rem/1.125rem JHA Times Now;
  letter-spacing: -0.00313rem;
}
