.root {
  @apply mb-4;

  @media (min-width: 768px) {
    @apply mr-6 flex-1;

    &:last-child {
      @apply mr-0;
    }
  }
}

.category {
  @apply mr-8;
  color: rgb(51, 51, 51);
  font: lighter normal 0.9375rem/1.125rem JHA Times Now;
  letter-spacing: -0.00313rem;
}

.header {
  @apply flex items-center mt-4 mb-2;
}

.title {
  @apply inline uppercase;
  color: rgb(51, 51, 51);
  font: lighter normal 1.1875rem/1.625rem Favorit SSENSE Inter1;
  letter-spacing: -0.01562rem;
}

.btn {
  width: 160px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  display: block;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 6px;
  color: rgb(51, 51, 51);

  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: uppercase;
}

.img {
  background: gray;
  overflow: hidden;
}

.figure {
  margin: 0;
}
