:root {
  --nc-font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --nc-font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono",
    "Courier New", Courier, monospace;
  --nc-tx-1: #000000;
  --nc-tx-2: #1a1a1a;
  --nc-bg-1: #ffffff;
  --nc-bg-2: #f6f8fa;
  --nc-bg-3: #e5e7eb;
  --nc-lk-1: #0070f3;
  --nc-lk-2: #0366d6;
  --nc-lk-tx: #ffffff;
  --nc-ac-1: #79ffe1;
  --nc-ac-tx: #0c4047;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
  box-sizing: inherit;
  border: 0 solid #e2e8f0;
}

html {
  touch-action: manipulation;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--nc-font-sans);
  line-height: 1.5;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}

.skeleton {
  display: block;
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  animation: loading 8s ease-in-out infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
